@font-face {
  font-family: Monoton;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/Monoton-Regular_ZzprU0UZVPRY408r7k90h.ttf")
    format("truetype");
}
@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve;
  }
  body.w-element {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
  }
  button.w-element {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0;
  }
  div.w-element {
    box-sizing: border-box;
  }
  h1.w-element {
    box-sizing: border-box;
  }
  h2.w-element {
    box-sizing: border-box;
  }
  p.w-element {
    box-sizing: border-box;
  }
  div.w-navigation-menu {
    box-sizing: border-box;
  }
  div.w-menu-list {
    box-sizing: border-box;
  }
  div.w-menu-item {
    box-sizing: border-box;
  }
  button.w-button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0;
  }
  div.w-text {
    box-sizing: border-box;
    min-height: 1em;
  }
  div.w-box {
    box-sizing: border-box;
  }
  div.w-html-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse;
  }
  div.w-menu-content {
    box-sizing: border-box;
  }
  a.w-link {
    box-sizing: border-box;
    display: inline-block;
  }
  p.w-paragraph {
    box-sizing: border-box;
  }
  div.w-menu-viewport {
    box-sizing: border-box;
  }
  img.w-image {
    box-sizing: border-box;
    max-width: 100%;
    display: block;
    height: auto;
  }
}
@media all {
  .cfsg2t6 {
    display: flex;
  }
  .c17mrs1n {
    justify-content: center;
  }
  .c1w0i25r {
    align-items: center;
  }
  .c1x653zv {
    background-color: rgb(255 255 255 / 1);
  }
  .c7hyy7e {
    position: relative;
  }
  .c1ok9k6w {
    text-align: center;
  }
  .ci4m263 {
    font-weight: 900;
  }
  .c1fqcz2w {
    font-size: 8rem;
  }
  .c1nl2zgu {
    line-height: 1;
  }
  .c12b0dbc {
    letter-spacing: -0.05em;
  }
  .cdxzbw9 {
    position: absolute;
  }
  .c100ij5 {
    top: 0;
  }
  .c13r7ib0 {
    right: -0.125rem;
  }
  .c1ctnubj {
    bottom: 0;
  }
  .c154fzm1 {
    left: 0.125rem;
  }
  .c1v61vh5 {
    opacity: 0.3;
  }
  .cv7xm52 {
    right: 0.125rem;
  }
  .c14cp8tt {
    left: -0.125rem;
  }
  .cog6dp8 {
    top: 50%;
  }
  .cbhqp57 {
    left: 0;
  }
  .crb8den {
    width: 100%;
  }
  .c1qn4cia {
    height: 0.375rem;
  }
  .clnrkmp {
    margin-top: 1.5rem;
  }
  .c14nb9r2 {
    font-weight: 700;
  }
  .c5y6al {
    font-size: 1.5rem;
  }
  .cs0zp7u {
    line-height: 2rem;
  }
  .cji13pl {
    letter-spacing: 0.05em;
  }
  .c1kiuc91 {
    font-family: Monoton, sans-serif;
  }
  .cf606sg {
    font-weight: 400;
  }
  .ckvo8m0 {
    color: rgb(20 70 125 / 1);
  }
  .clc3r69 {
    font-size: 2.2em;
  }
  .c1c1xfd0 {
    max-width: initial;
  }
  .c3x7f0m {
    flex-wrap: nowrap;
  }
  .cvcggr2 {
    justify-content: space-between;
  }
  .c147m0g3 {
    width: auto;
  }
  .c12owo67 {
    padding-left: 9px;
  }
  .c1cyy59t {
    padding-right: 9px;
  }
  .c1hst5f7 {
    height: 60px;
  }
  .co0rma1 {
    flex-grow: 1;
  }
  .c14nlzbq {
    flex-shrink: 1;
  }
  .c17voal6 {
    flex-basis: 0;
  }
  .c1hixjdl {
    list-style-type: none;
  }
  .cw0jbmk {
    row-gap: 0.25rem;
  }
  .c1chyb9w {
    column-gap: 0.25rem;
  }
  .cemfsiz {
    height: 100%;
  }
  .c1sd9vjg {
    margin: 0;
  }
  .c1son051 {
    padding: 0;
  }
  .c8c4s5y {
    display: inline-flex;
  }
  .c1ba61ev {
    background-color: transparent;
  }
  .c162pnmn {
    border-top-left-radius: 0.375rem;
  }
  .c9tsa3f {
    border-top-right-radius: 0.375rem;
  }
  .c1l8tiu {
    border-bottom-right-radius: 0.375rem;
  }
  .csfcqzk {
    border-bottom-left-radius: 0.375rem;
  }
  .c1p33k6z {
    font-size: 0.875rem;
  }
  .c1opuvcw {
    line-height: 1.25rem;
  }
  .c1de6pmp {
    font-weight: 500;
  }
  .c1uqoqk6 {
    height: 2.25rem;
  }
  .cyhwo9g {
    padding-top: 0;
  }
  .c14ceoky {
    padding-right: 0.75rem;
  }
  .c1a9f04j {
    padding-bottom: 0;
  }
  .c1smnnhd {
    padding-left: 0.75rem;
  }
  .c1q7awuv {
    --navigation-menu-trigger-icon-transform: 0deg;
  }
  .c11zkx0w {
    border: 0 solid rgb(226 232 240 / 1);
  }
  .c18cgbzw:focus-visible {
    outline-offset: 2px;
  }
  .crrtha9:focus-visible {
    box-shadow:
      0 0 0 2px rgb(255 255 255 / 1),
      0 0 0 calc(2px + 2px) rgb(148, 163, 184);
  }
  .c1l8tl29:focus-visible {
    outline: 2px solid transparent;
  }
  .cywkbvh:disabled {
    pointer-events: none;
  }
  .cyo4pb7:disabled {
    opacity: 0.5;
  }
  .chlfvck:hover {
    background-color: rgb(241 245 249 / 1);
  }
  .c192l50l:hover {
    color: rgb(15 23 42 / 1);
  }
  .c3rzlfv[data-state="open"] {
    --navigation-menu-trigger-icon-transform: 180deg;
  }
  .c1mb4ml7 {
    margin-left: 0.25rem;
  }
  .c58am9s {
    rotate: var(--navigation-menu-trigger-icon-transform);
  }
  .c1bkgvzn {
    height: 1rem;
  }
  .c1cp7rmv {
    width: 1rem;
  }
  .ckrth4 {
    flex-shrink: 0;
  }
  .craohvx {
    transition-property: all;
  }
  .cfgiqo6 {
    transition-duration: 200ms;
  }
  .cd8bu3l {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .c1pshrl7 {
    transition-delay: 0s;
  }
  .cm22lze {
    transition-behavior: normal;
  }
  .c10qr9s6 {
    positon: absolute;
  }
  .ccmlefz {
    width: max-content;
  }
  .c7gmc43 {
    padding: 1rem;
  }
  .c1fceksf {
    row-gap: 1rem;
  }
  .cvgayr9 {
    column-gap: 1rem;
  }
  .c109y0ux {
    padding: 0.5rem;
  }
  .c3suo4x {
    background-color: rgb(226 232 240 / 1);
  }
  .c1x8sj33 {
    width: 12rem;
  }
  .czlmrvk {
    width: 16rem;
  }
  .c1urlnx8 {
    flex-direction: column;
  }
  .c1wc4gaj {
    color: inherit;
  }
  .cczimom {
    -webkit-user-select: none;
    user-select: none;
  }
  .c1be09mj {
    text-decoration-line: none;
  }
  .c1r7w5yg {
    outline: medium none currentcolor;
  }
  .cmztrdq {
    padding: 0.75rem;
  }
  .cdiwolh:focus {
    background-color: rgb(241 245 249 / 1);
  }
  .culuaxl:focus {
    color: rgb(15 23 42 / 1);
  }
  .c10rjq0p {
    overflow-x: hidden;
  }
  .c1bwhc8m {
    overflow-y: hidden;
  }
  .c1yq9nfr {
    display: -webkit-box;
  }
  .c1gvdaew {
    -webkit-box-orient: vertical;
  }
  .c1b7d5p2 {
    -webkit-line-clamp: 2;
  }
  .c1kezb0e {
    line-height: 1.375;
  }
  .cr9lh8y {
    color: rgb(100 116 139 / 1);
  }
  .cssaib1 {
    color: currentcolor;
  }
  .c19nqvmx {
    top: 100%;
  }
  .c476gp6 {
    margin-top: 0.375rem;
  }
  .c1cpw0cz {
    color: rgb(2 8 23 / 1);
  }
  .c1fbnn06 {
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  .c7gj4lp {
    height: var(--radix-navigation-menu-viewport-height);
  }
  .cpkzk7l {
    width: var(--radix-navigation-menu-viewport-width);
  }
  .c16i4ekm {
    border: 1px solid rgb(226 232 240 / 1);
  }
  .cwx6he3 {
    font-size: 1.4em;
  }
  .c14p2g2w {
    color: rgb(6 51 102 / 1);
  }
  .c1u0odc6 {
    border-top-color: rgb(20 69 123 / 1);
  }
  .c11yrgwy {
    border-right-color: rgb(20 69 123 / 1);
  }
  .c1j44yfu {
    border-bottom-color: rgb(20 69 123 / 1);
  }
  .c7qegtb {
    border-left-color: rgb(20 69 123 / 1);
  }
  .c1o4dtzp {
    color: white;
  }
  .c2s70nu {
    padding-left: 12px;
  }
  .cvvd3ad {
    padding-right: 12px;
  }
  .c1t16ttb {
    height: fit-content;
  }
  .c1xejhqf {
    align-self: center;
  }
  .c1upsilg {
    border-top-left-radius: 8px;
  }
  .c19xn68l {
    border-top-right-radius: 8px;
  }
  .c14v3gv4 {
    border-bottom-left-radius: 8px;
  }
  .c14u5dle {
    border-bottom-right-radius: 8px;
  }
  .c6wwg7l {
    border-top-width: 0px;
  }
  .c781cgn {
    border-right-width: 0px;
  }
  .c1jhsfkh {
    border-left-width: 0px;
  }
  .cpn8zpn {
    border-bottom-width: 0px;
  }
  .ckme0n3 {
    border-top-style: none;
  }
  .c79qawc {
    border-right-style: none;
  }
  .c1kj6h9c {
    border-left-style: none;
  }
  .c17fcmia {
    border-bottom-style: none;
  }
  .c1128een {
    padding-top: 10px;
  }
  .c13z9b4y {
    padding-bottom: 10px;
  }
  .c1rnw1n6 {
    background-color: rgb(20 69 123 / 1);
  }
  .ca1367l {
    border-top-color: rgb(43 142 255 / 1);
  }
  .cvwj1e5 {
    border-right-color: rgb(43 142 255 / 1);
  }
  .cmjq5f4 {
    border-bottom-color: rgb(43 142 255 / 1);
  }
  .chvthtj {
    border-left-color: rgb(43 142 255 / 1);
  }
  .c1e8wxyp {
    padding-top: 20px;
  }
  .c1x97uab {
    text-align: start;
  }
  .c1i7pqf3 {
    margin-left: auto;
  }
  .c10n4v7u {
    margin-right: auto;
  }
  .c12ikdfy {
    font-family: sans-serif;
  }
  .cek1jwi {
    text-transform: uppercase;
  }
  .c7d6b3o {
    font-weight: 600;
  }
  .citx16c {
    line-height: 1.2;
  }
  .cjptfmy {
    font-size: 2.8em;
  }
  .cielvey {
    color: black;
  }
  .co8v17q {
    margin-top: 0.2em;
  }
  .c2i4ulj {
    margin-bottom: 0.4em;
  }
  .c1jdn64c {
    color: rgb(20 69 123 / 1);
  }
  .c1kiw8s3 {
    margin-left: 18px;
  }
  .chcxm0r {
    transition-timing-function: ease;
  }
  .c1vc9st0 {
    transition-delay: 0ms;
  }
  .cjnoqzp {
    border: 0 none white;
  }
  .c1jpj35g:focus-visible {
    outline: 2px none transparent;
  }
  .c1bl4kp:hover {
    background-color: rgb(0 35 73 / 1);
  }
  .ckscez0:hover {
    color: white;
  }
  .c6t2k6d {
    left: 0%;
  }
}
@media all and (max-width: 991px) {
  .c1naww48 {
    flex-wrap: wrap;
  }
  .cattm0h {
    align-items: center;
  }
  .c1r0mslp {
    text-align: start;
  }
  .c1nc5d2o {
    justify-content: center;
  }
  .ch2peyc {
    row-gap: 12px;
  }
  .cwcuxbu {
    column-gap: 12px;
  }
  .cllvqeg {
    align-self: center;
  }
  .c1vg4jev {
    column-gap: 0.2rem;
  }
  .c1j2xaop {
    row-gap: 0.2rem;
  }
  .c1mqbg3i {
    margin-left: 18px;
  }
}
