@font-face {
  font-family: Monoton; font-style: normal; font-weight: 400; font-display: swap; src: url("/assets/Monoton-Regular_2wnBBOU8x4IpGGenJ_aES.ttf") format("truetype");
}@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve
  }
  a.w-element {
    box-sizing: border-box
  }
  body.w-element {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
  }
  div.w-element {
    box-sizing: border-box
  }
  h1.w-element {
    box-sizing: border-box
  }
  h2.w-element {
    box-sizing: border-box
  }
  h3.w-element {
    box-sizing: border-box
  }
  p.w-element {
    box-sizing: border-box
  }
  img.w-image {
    box-sizing: border-box;
    max-width: 100%;
    display: block;
    height: auto
  }
  div.w-html-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse
  }
  div.w-navigation-menu {
    box-sizing: border-box
  }
  div.w-menu-list {
    box-sizing: border-box
  }
  div.w-menu-item {
    box-sizing: border-box
  }
  button.w-button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0
  }
  div.w-text {
    box-sizing: border-box;
    min-height: 1em
  }
  div.w-box {
    box-sizing: border-box
  }
  div.w-menu-content {
    box-sizing: border-box
  }
  a.w-link {
    box-sizing: border-box;
    display: inline-block
  }
  p.w-paragraph {
    box-sizing: border-box
  }
  div.w-menu-viewport {
    box-sizing: border-box
  }
}
@media all {
  .cyksmbj {
    display: flex
  }
  .c7pv373 {
    justify-content: center
  }
  .c1oji2iw {
    align-items: center
  }
  .c1tu7rdi {
    background-color: rgb(255 255 255 / 1)
  }
  .c1gbr3z6 {
    position: relative
  }
  .cavlpe {
    text-align: center
  }
  .cl3gp3l {
    font-weight: 900
  }
  .coy6c21 {
    font-size: 8rem
  }
  .c1n9d4u8 {
    line-height: 1
  }
  .c3iazxm {
    letter-spacing: -0.05em
  }
  .c1ca1opd {
    position: absolute
  }
  .c1hvks5x {
    top: 0
  }
  .cdst6ei {
    right: -0.125rem
  }
  .c1aw16ej {
    bottom: 0
  }
  .c1lpnlop {
    left: 0.125rem
  }
  .cdzsp3b {
    opacity: 0.3
  }
  .c1adxgi2 {
    right: 0.125rem
  }
  .c2dqfc {
    left: -0.125rem
  }
  .c144m6yr {
    top: 50%
  }
  .cbixgik {
    left: 0
  }
  .c1przhxw {
    width: 100%
  }
  .c1mmap1p {
    height: 0.375rem
  }
  .c1pn3nt4 {
    margin-top: 1.5rem
  }
  .ca5o0vn {
    font-weight: 700
  }
  .c1dtyk3d {
    font-size: 1.5rem
  }
  .ca011pk {
    line-height: 2rem
  }
  .c1kyok82 {
    letter-spacing: 0.05em
  }
  .ccqry52 {
    display: inline-flex
  }
  .c1s7cfds {
    row-gap: 6px
  }
  .c22bnnu {
    column-gap: 6px
  }
  .c1jyh8n4 {
    position: fixed
  }
  .c19wvbtj {
    z-index: 1000
  }
  .crw0x0i {
    padding-top: 6px
  }
  .cu72bv5 {
    padding-right: 10px
  }
  .c7k78s6 {
    padding-bottom: 6px
  }
  .c1s5m8sy {
    padding-left: 10px
  }
  .cyrdgjr {
    right: 16px
  }
  .c1k6ojoi {
    bottom: 16px
  }
  .c1atfmle {
    color: rgb(251 252 253 / 1)
  }
  .c1dnc6tq {
    font-family: system-ui, sans-serif
  }
  .ccbbh9c {
    font-size: 12px
  }
  .cyjqqjx {
    font-weight: 500
  }
  .c10m4l2s {
    border-top-left-radius: 9px
  }
  .cursmqq {
    border-top-right-radius: 9px
  }
  .c1mjd2u5 {
    border-bottom-right-radius: 9px
  }
  .c186xyei {
    border-bottom-left-radius: 9px
  }
  .cqjwob8 {
    text-decoration-line: none
  }
  .c1yw5hyw {
    -webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box
  }
  .c8n4ibt {
    background-origin: padding-box, border-box
  }
  .c3zb5vh {
    background-image: linear-gradient(135deg,#4a4efa 0%,#bd2fdb 66%,#ec59ce 100%), linear-gradient(135deg,#92fddc 0%,#7d7ffb 31.94%,#ed72fe 64.24%,#fdd791 100%)
  }
  .colq2zo {
    border: 1px solid transparent
  }
  .cxejupr {
    white-space: nowrap
  }
  .c1k5mt0p {
    display: block
  }
  .c15zgoui {
    width: 16px
  }
  .c1fdwpzh {
    height: 16px
  }
  .cleis16 {
    flex-shrink: 0
  }
  .c1anbojs {
    font-family: Monoton, sans-serif
  }
  .cpf8n67 {
    font-weight: 400
  }
  .ctg9xgo {
    font-size: 2.2em
  }
  .c153cr87 {
    text-transform: capitalize
  }
  .cu3uc3t {
    text-align: start
  }
  .c1xz0hfv {
    margin-left: auto
  }
  .c1nn1c1j {
    margin-right: auto
  }
  .c1b9a0j2 {
    max-width: none
  }
  .c1rc0m8f {
    flex-wrap: wrap
  }
  .c1q7lfpp {
    justify-content: space-between
  }
  .ciexhcn {
    width: auto
  }
  .c1wdeocc {
    padding-top: 8px
  }
  .c4kj7kl {
    padding-right: 0
  }
  .c4cayoo {
    padding-bottom: 8px
  }
  .c7d4aiq {
    padding-left: 0
  }
  .c19ayrcm {
    flex-grow: 1
  }
  .cm1hduf {
    flex-shrink: 1
  }
  .c9ki4md {
    flex-basis: 0
  }
  .c1sdaeb8 {
    list-style-type: none
  }
  .c18tswnh {
    row-gap: 0.25rem
  }
  .c1avjyiw {
    column-gap: 0.25rem
  }
  .cyh8saq {
    margin: 0
  }
  .c199gza7 {
    background-color: transparent
  }
  .c1scatng {
    border-top-left-radius: 0.375rem
  }
  .c12dglsd {
    border-top-right-radius: 0.375rem
  }
  .c18cn36h {
    border-bottom-right-radius: 0.375rem
  }
  .c1s0vdhp {
    border-bottom-left-radius: 0.375rem
  }
  .cc3itzg {
    font-size: 0.875rem
  }
  .cu15652 {
    line-height: 1.25rem
  }
  .c152iurg {
    height: 2.25rem
  }
  .c15q8tho {
    padding-top: 0
  }
  .c1kh7ybw {
    padding-right: 0.75rem
  }
  .c1rwsfc4 {
    padding-bottom: 0
  }
  .c16v3bxy {
    padding-left: 0.75rem
  }
  .c1qj3xb5 {
    --navigation-menu-trigger-icon-transform: 0deg
  }
  .cwl22p7 {
    border: 0 solid rgb(226 232 240 / 1)
  }
  .c6i07qh:focus-visible {
    outline-offset: 2px
  }
  .c16vucp1:focus-visible {
    box-shadow: 0 0 0 2px rgb(255 255 255 / 1), 0 0 0 calc(2px + 2px) rgb(148,163,184)
  }
  .c10wx85o:focus-visible {
    outline: 2px solid transparent
  }
  .c1q4fk80:disabled {
    pointer-events: none
  }
  .cbq1r21:disabled {
    opacity: 0.5
  }
  .c3928kp:hover {
    background-color: rgb(241 245 249 / 1)
  }
  .c1jwpyv4:hover {
    color: rgb(15 23 42 / 1)
  }
  .c1frugua[data-state="open"] {
    --navigation-menu-trigger-icon-transform: 180deg
  }
  .c1jfsl5 {
    margin-left: 0.25rem
  }
  .cv7jg5f {
    rotate: var(--navigation-menu-trigger-icon-transform)
  }
  .c15h8iyp {
    height: 1rem
  }
  .c1ilvq6h {
    width: 1rem
  }
  .c1eqwf0y {
    transition-property: all
  }
  .czk77kp {
    transition-duration: 200ms
  }
  .c2lasyc {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  }
  .cdjvvc8 {
    transition-delay: 0s
  }
  .c1o70tqg {
    transition-behavior: normal
  }
  .c1pvcg4w {
    positon: absolute
  }
  .coyh8d5 {
    width: max-content
  }
  .c1nalyre {
    padding: 1rem
  }
  .c125js0i {
    row-gap: 1rem
  }
  .c9ei9hc {
    column-gap: 1rem
  }
  .cuxtrnq {
    padding: 0.5rem
  }
  .c8xtvbx {
    background-color: rgb(226 232 240 / 1)
  }
  .c1j8ew9a {
    width: 12rem
  }
  .c10kvjaq {
    width: 16rem
  }
  .c1i7snbb {
    flex-direction: column
  }
  .c1tjie79 {
    color: inherit
  }
  .clbsjag {
    -webkit-user-select: none;
    user-select: none
  }
  .c1b9nnoh {
    outline: medium none currentcolor
  }
  .cpxva6b {
    padding: 0.75rem
  }
  .cfn2ywy:focus {
    background-color: rgb(241 245 249 / 1)
  }
  .c2bousg:focus {
    color: rgb(15 23 42 / 1)
  }
  .c1pwlyx4 {
    overflow-x: hidden
  }
  .ctvij5o {
    overflow-y: hidden
  }
  .c5cr60h {
    display: -webkit-box
  }
  .c8lqbwc {
    -webkit-box-orient: vertical
  }
  .c1gq6vpr {
    -webkit-line-clamp: 2
  }
  .c12rzb79 {
    line-height: 1.375
  }
  .c14nvnl5 {
    color: rgb(100 116 139 / 1)
  }
  .c53v5zz {
    color: rgb(20 69 123 / 1)
  }
  .cyidosu {
    background-color: rgb(20 69 123 / 1)
  }
  .cfxgbuw {
    border-top-left-radius: 6px
  }
  .c1w3iq2x {
    border-top-right-radius: 6px
  }
  .cmd2k6o {
    border-bottom-right-radius: 6px
  }
  .c1aefk7h {
    border-bottom-left-radius: 6px
  }
  .c1ox04z8 {
    color: white
  }
  .c1lc8yfv {
    transition-timing-function: ease
  }
  .c1mucujo {
    transition-delay: 0ms
  }
  .c1t98528 {
    border: 0 none rgb(226 232 240 / 1)
  }
  .c11r2gzv:hover {
    color: white
  }
  .ca9pb38:hover {
    background-color: rgb(9 36 64 / 1)
  }
  .c1f5y87x {
    padding-left: 12px
  }
  .c1y6e6gy {
    padding-right: 12px
  }
  .c1nnj4xy {
    max-width: 1100px
  }
  .cbanl4k {
    margin-left: 12px
  }
  .c1h8kc0m {
    top: 100%
  }
  .c15k0oe7 {
    margin-top: 0.375rem
  }
  .cse038c {
    color: rgb(2 8 23 / 1)
  }
  .chhklim {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)
  }
  .c1xib519 {
    height: var(--radix-navigation-menu-viewport-height)
  }
  .c8343zk {
    width: var(--radix-navigation-menu-viewport-width)
  }
  .c1s43d56 {
    border: 1px solid rgb(226 232 240 / 1)
  }
  .c1s55wh8 {
    font-size: 18px
  }
  .c1uyinf6 {
    align-self: center
  }
  .cqkrgkz {
    background-image: linear-gradient(rgb(0 103 213 / 1) 0%, rgb(0 0 0 / 0) 100%)
  }
  .csjbh93 {
    padding-top: 20px
  }
  .c1ht3eul {
    padding-bottom: 40px
  }
  .c1pk2abd {
    border-top-color: white
  }
  .c1om2ni4 {
    border-right-color: white
  }
  .c1t9kc3 {
    border-bottom-color: white
  }
  .caxks0e {
    border-left-color: white
  }
  .c17l107q {
    border-top-style: solid
  }
  .c1axzkds {
    border-right-style: solid
  }
  .cpofr2j {
    border-left-style: solid
  }
  .c1lflnfx {
    border-bottom-style: solid
  }
  .cpii4el {
    max-width: 620px
  }
  .c19jcr0r {
    margin-bottom: 16px
  }
  .c1fb947j {
    white-space: pre-wrap
  }
  .c1l3k9y7 {
    white-space: pre-wrap;
    white-space-collapse: preserve
  }
  .c1fq6v54 {
    max-width: 700px
  }
  .c18htm2o {
    column-gap: 16px
  }
  .c41c50e {
    row-gap: 16px
  }
  .c1i7yiwk {
    padding-top: 16px
  }
  .c13n5siq {
    padding-bottom: 16px
  }
  .ch2shl {
    font-weight: 600
  }
  .caui1hn {
    margin-bottom: 12px
  }
  .cu2xsck {
    display: inline-block
  }
  .c1wbt3eu {
    border-top-color: rgb(20 69 123 / 1)
  }
  .cxjyi5z {
    border-right-color: rgb(20 69 123 / 1)
  }
  .c1kd0iqv {
    border-bottom-color: rgb(20 69 123 / 1)
  }
  .c2t1vc3 {
    border-left-color: rgb(20 69 123 / 1)
  }
  .cmx5vkr {
    background-color: white
  }
  .c1vld03m {
    padding-left: 1rem
  }
  .cls8btf {
    padding-right: 1rem
  }
  .cqce9pz {
    padding-top: 0.7rem
  }
  .c1nwamx6 {
    padding-bottom: 0.7rem
  }
  .chwyzxr {
    overflow-x: auto
  }
  .cc65596 {
    overflow-y: auto
  }
  .c8h0kd1 {
    width: 65svw
  }
  .c1jmoocp {
    max-width: 100%
  }
  .c14ukf1q {
    z-index: 1
  }
  .cb38r9g {
    opacity: 1
  }
  .c1oaz3g3 {
    justify-content: end
  }
  .c9z7hxy {
    height: fit-content
  }
  .c9iayub {
    border-top-left-radius: 1rem
  }
  .c1550nn1 {
    border-top-right-radius: 1rem
  }
  .czqdj2f {
    border-bottom-left-radius: 1rem
  }
  .co4edm4 {
    border-bottom-right-radius: 1rem
  }
  .cgocsqs {
    align-items: start
  }
  .ceh8ohp {
    justify-content: start
  }
  .cibahxt {
    right: 2rem
  }
  .c1gqsx5u {
    bottom: 2rem
  }
  .c1rrbixb {
    align-items: end
  }
  .cu4g92s {
    width: fit-content
  }
  .c6lxvrw {
    column-gap: 0.75rem
  }
  .c1maz3g9 {
    cursor: pointer
  }
  .c292i9b {
    border-top-left-radius: 100%
  }
  .cxl0o9s {
    border-top-right-radius: 100%
  }
  .cdfpp7e {
    border-bottom-left-radius: 100%
  }
  .co80yic {
    border-bottom-right-radius: 100%
  }
  .c57zjvh {
    width: 40px
  }
  .c143tev2 {
    height: 40px
  }
  .c16mb7nx {
    color: rgb(255 255 255 / 1)
  }
  .c11ti0jn {
    z-index: 50
  }
  .cmaxjvo {
    border: 1.5px solid rgb(255 255 255 / 1)
  }
  .cm241ru {
    font-size: 100%
  }
  .c1a7h4u9 {
    height: 100%
  }
  .c6s2mb7 {
    aspect-ratio: 16/10
  }
  .cjtheg6 {
    border-top-style: none
  }
  .clmafat {
    border-right-style: none
  }
  .c1rkdu33 {
    border-left-style: none
  }
  .c2i0qoz {
    border-bottom-style: none
  }
  .c1f5j10l {
    border-top-color: rgb(203 213 225 / 1)
  }
  .cmk688s {
    border-right-color: rgb(203 213 225 / 1)
  }
  .cejznww {
    border-bottom-color: rgb(203 213 225 / 1)
  }
  .cp88vo0 {
    border-left-color: rgb(203 213 225 / 1)
  }
  .cl3a54z {
    row-gap: 1.5rem
  }
  .cyiufop {
    object-fit: cover
  }
  .c12t5nos {
    object-position: 50% 50%
  }
  .c7m897 {
    height: 33%
  }
  .cpstobg {
    background-attachment: scroll
  }
  .c1m9hz2e {
    -webkit-background-clip: border-box;
    background-clip: border-box
  }
  .c3qj012 {
    background-blend-mode: normal
  }
  .c1vhk8r2 {
    background-image: linear-gradient(rgb(0 0 0 / 0) 0%, rgb(15 23 42 / 1) 95%)
  }
  .cfoyo6b {
    background-origin: padding-box
  }
  .ctqyu0d {
    background-repeat: repeat
  }
  .c1su9msf {
    background-size: auto
  }
  .c1iqp751 {
    z-index: 20
  }
  .ctoeblo {
    left: 0px
  }
  .c1c40y1i {
    right: 0px
  }
  .c7ghkhh {
    bottom: 0px
  }
  .c194hou3 {
    background-position: 0% 0%
  }
}
@media all and (max-width: 991px) {
  .c190h4xw {
    border-top-color: rgb(20 69 123 / 1)
  }
  .c1ua5e08 {
    border-right-color: rgb(20 69 123 / 1)
  }
  .c1rt2b5x {
    border-bottom-color: rgb(20 69 123 / 1)
  }
  .celrewe {
    border-left-color: rgb(20 69 123 / 1)
  }
  .ceuzb9a {
    background-color: rgb(20 69 123 / 1)
  }
  .c1321bjb {
    padding-top: 20px
  }
  .c140tk4r {
    padding-bottom: 20px
  }
  .c1fh2qkn {
    border-top-color: white
  }
  .cyiizu9 {
    border-right-color: white
  }
  .cqvjdig {
    border-bottom-color: white
  }
  .crmjlkc {
    border-left-color: white
  }
  .c1ihasyt {
    text-align: center
  }
  .c3c9r1c {
    color: white
  }
  .cynjatq {
    margin-bottom: 22px
  }
  .cc6w7r {
    width: 85svw
  }
  .c1fpr0os {
    width: 100%
  }
  .cvgvkkz {
    align-items: start
  }
  .coy7gv6 {
    justify-content: start
  }
  .c1gkl50b {
    object-position: 50% 50%
  }
  .c13pklef {
    height: 68%
  }
}
@media all and (max-width: 767px) {
  .c1jfats1 {
    justify-content: center
  }
  .c98ze20 {
    flex-wrap: wrap
  }
  .cj79p55 {
    text-align: start
  }
  .c1falt5c {
    margin-top: 12px
  }
  .cnzj5wj {
    width: 90svw
  }
  .chkjoc1 {
    bottom: 1.5rem
  }
  .c172hey {
    right: 1.5rem
  }
  .ccsqwz {
    column-gap: 0.56rem
  }
  .c18cfxvo {
    row-gap: 0.56rem
  }
  .c1dx8b2v {
    width: 35px
  }
  .c1qrp8v2 {
    height: 35px
  }
  .c12c2zig {
    font-size: 70%
  }
  .czsacc7 {
    aspect-ratio: 16/10
  }
  .c16caxk5 {
    height: 64%
  }
}
@media all and (max-width: 479px) {
  .c1ulw3bq {
    width: 91svw
  }
  .c7wa604 {
    bottom: 1.25rem
  }
  .c1ajz4hn {
    right: 1.25rem
  }
  .crtf4qo {
    column-gap: 0.5rem
  }
  .c11c9uoh {
    row-gap: 0.5rem
  }
  .clr6biy {
    width: 27px
  }
  .c1d70lvb {
    height: 27px
  }
  .cvj1e6d {
    font-size: 60%
  }
  .c8n6rm {
    padding: 0
  }
  .c6pmyha {
    aspect-ratio: 16/10
  }
  .cqwy470 {
    flex-direction: column
  }
  .c1mkwpu4 {
    border-top-left-radius: 16px
  }
  .c18ym91p {
    border-top-right-radius: 16px
  }
  .cb6svwg {
    border-bottom-left-radius: 16px
  }
  .c1otp91o {
    border-bottom-right-radius: 16px
  }
  .cgtklm7 {
    height: 100%
  }
  .cgzsvfq {
    object-position: 50% 50%
  }
}